.custom-file {
	input[type="file"] {
		cursor: pointer;
	}

	input[disabled] {
		cursor: default;
	}
}

.input-validation-error {
	display: none;
	margin-top: 0.5rem;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 500;

	&.visible {
		display: block;
	}
}

.input-email-placeholder {
	font-size: 12px;
	font-weight: 500;
}

.dropdown-toggle::after {
	margin-left: 0.5em;
	vertical-align: 0.2em;
}
